{% extends "base.html" %}

{% block title %}Flasky{% endblock %}

{% block page_content %}

<form method="POST">
  {{ form.name.label }}: {{ form.name() }}
  {{ form.date.label }}: {{ form.date() }}
  <input type="submit" value="submit">
</form>

<a href="/schedule/csv">Download</a>

<div class="container">
  <div>
      <table>
        <tbody>
          {% for table in tables %}
                      {{titles[loop.index]}}
                      {{ table|safe }}
          {% endfor %}
        </tbody>
      </table>
    </div>
    <!-- /.row -->
</div>
{% endblock %}
